
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {
  font-family: "Open Sans";
  background-image: url("https://i.ibb.co/t8q7PDG/nordwood-themes-Kcs-KWw77-Ovw-unsplash.jpg");
}


.profile-image {
  height: 250px;
}
.w3-container-special {
  background-image: url("https://i.ibb.co/D7hHVNY/cat-han-W-5-Eakb1598-unsplash.jpg");
}
.bg-img1 {
  background-image: url("https://i.ibb.co/D7hHVNY/cat-han-W-5-Eakb1598-unsplash.jpg");
}

.previous-arrow {
  padding-left: 300px;
}
.previous-arrow-small {
  padding-left: 0;
}
.previous-arrow-medium {

}
